<h2>Contact me</h2>
<form>
  <label>
    Your name:
    <input type='text' name='author' />
  </label>
  <br />
  <label>
    Your email:
    <input type='email' name='sender' />
  </label>
  <br />
  <label>
    Title:
    <input type='text' name='title' />
  </label>
  <br />
  <label>
    Message:
    <textarea name='message'></textarea>
  </label>
  <br />
  <button type='submit'>Send message</button>
</form>